* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

    .logo {
        width: 8vw;
        Height: auto;
    }

/*@media screen and (min-width: 900px) {*/

    .banniere {
        background-image: url('monsite_Images/sky_minimalist.jpg');
        background-repeat:no-repeat;
        background-size: cover;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 3px solid rgba(0, 0, 0, 0.874);
        justify-content: space-between;
        padding: 18px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }   

    .top {
        background-image: url('monsite_Images/vague1.jpg');
        background-repeat:no-repeat;
        background-size : 100% 100%;
        height: auto;
        width: auto;
        /*margin-bottom: 10%;*/
        background-color: grey;
        background-blend-mode: multiply;
        /*background-size: cover;*/
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-size: 25px;
        list-style-type: none;
    }

    /*h2 { 
        font-size: 40px;
    }*/

    .bio {
        text-align: center;
        font-size: 68px;
        margin-bottom: 40px;
        padding-top: 4%;
        color: rgb(0, 0, 0);
    }

    .reveal {
        padding: 1em 2em;
        font-size: 26px;
        background-color: rgb(131, 119, 109);
        font-family: sans-serif;
        text-align: center;
        /*margin-bottom: 20%;*/
        margin-left: 37%;
        margin-right: 16%;
        margin-top: 7%;
        margin-bottom: 2%;
        border-radius: 3em;
    }

    .reveal:hover + .opacity {
        animation: 1s apparait forwards ease-out;
        transition: 0.7s;
    }


    .opacity {
        display: flex;
        text-align: auto;
        color: beige;
        font-family: sans-serif;
        font-size: 20px;
        width: 50%;
        margin: 0 auto;
        margin-left: 37%;

        transform: translateY(-200px);
        opacity: 0;
        /*background-color: rgb(161, 198, 228);
        border-radius: 1em;
        margin-right: 250px;*/
    }

    .banniere_2 {
        background-image: url('monsite_Images/sky_minimalist.jpg');
        background-repeat:no-repeat;
        background-size: 100%;
    }

    @keyframes apparait {

        0% {
            transform: translate(-300px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .rond {
        clip-path: ellipse(50% 30%);
        width: 15%;
        display: block;
        margin-right: auto;
        margin-left: 15%;
        margin-top: -20%;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        background-image: url('monsite_Images/background_minimalist.webp');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        background-color: grey;
        background-blend-mode: multiply;
    }

    .titre {
        animation: 2s couleur alternate ease-in-out;
        animation-iteration-count: infinite;
    }

    @keyframes couleur {
        0% {
            color: white;
        }

        100% {
            color: black;
        }
    }

    .titre {
        color: black;
        width: 98.9vw;
        text-align: center;
        font-size: 62px;
        padding-top: 3%;
        padding-bottom: 3%;
        background-image: url('monsite_Images/sky_minimalist.jpg');
        border-bottom: 3px solid rgba(0, 0, 0, 0.874);
        border-top: 3px solid rgba(0, 0, 0, 0.874);
    }

/*@media screen and (max-width: 300px) {*/


    .carre_gauche {
        width: 600px;
        height: 300px;
        border-radius: 2em;
        margin-left: 10vw;
        margin-top: 3%;
        margin-bottom: 15%;
    }

    .alignement {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin-top: 4%;
    }

    .descriptif_droite {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-top: -5%;
        margin-right: auto;
        font-size: 21px;
        width: 600px;
        color: beige;
    }

    .carre_droite {
        display: flex;
        width: 600px;
        height: 300px;
        border-radius: 2em;
        margin-top: 2%;
        margin-bottom: 15%;
    }

    .image_gauche:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }

    .descriptif_gauche {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-top: -5%;
        margin-right: auto;
        font-size: 21px;
        width: 600px;
        color: beige;
    }

    .image_droite:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }

    .bootstrap {
        background-image: url('monsite_Images/background_minimalist.webp');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        background-color: grey;
        background-blend-mode: multiply;
    }

    .titre2 {
        color: black;
        text-align: center;
        font-size: 62px;
        padding-top: 3%;
        padding-bottom: 3%;
        background-image: url('monsite_Images/sky_minimalist.jpg');
        border-bottom: 3px solid rgba(0, 0, 0, 0.874);
        border-top: 3px solid rgba(0, 0, 0, 0.874);
    }

    .titre2 {
        animation: 2s taille alternate ease-in-out;
        animation-iteration-count: infinite;
    }

    @keyframes taille {
        0% {
            font-size: 62px;
        }

        100% {
            font-size: 70px;
        }
    }

    .alone_logo {
        border-radius: 5em;
        width: 25%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3%;
    }

    .descriptif_alone {
        font-size: 20px;
        margin-top: 3%;
        margin-left: 15%;
        margin-right: 15%;
        color: beige;
        display: flex;
        text-align: center;
        margin-bottom: 3%;
    }

    .alone_nox {
        border-radius: 3em;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 8%;
        margin-bottom: 4%;
    }

    .nox {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-right: 3%;
        font-size: 21px;
        width: 500px;
        color: beige;
    }

    .grid1 {
        margin-left: 15vw;
        margin-top: 50px;
        display: flex;
        align-items:center;
        text-align: center;
        color: rgb(255, 255, 255);
        justify-content: space-around;
        width: 400px;
        height: 400px;
        background-size:cover;
        background-position: 50%;
        background-image: url('images/projectf.jpg');
        grid-column: 1;
        grid-row: 2;
        border-radius: 100%;
        transition: 0.6s ease-in-out;
    }

    .titre3 {
        color: black;
        text-align: center;
        font-size: 62px;
        padding-top: 3%;
        padding-bottom: 3%;
        background-image: url('monsite_Images/sky_minimalist.jpg');
        border-bottom: 3px solid rgba(0, 0, 0, 0.874);
        border-top: 3px solid rgba(0, 0, 0, 0.874);
    }

    .titre3 {
        animation: 2s bouge alternate ease-in-out;
        animation-iteration-count: infinite;
    }

    @keyframes bouge {
        0% {
            transform: translateX(0);
        }
    
        50% {
            transform: translateY(40px);
        }
    
        100% {
            transform: translateY(0);
        }
    }

    .Projet3 {
        height: fit-content;
        width: 100%;
        background-color: rgb(74, 75, 104);
    }


    /*.TheAvener {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }*/

    /*.image_cover {
        display: grid;
        grid-column: 1fr;
    }*/

    .text_avener {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 20px;
        color: beige;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 5%;
    }

    .cover {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60vw;
        height: 30vw;
        border-radius: 2em;
        margin-top: 5%;
        grid-row: 5;
    }

    .reseaux_sociaux {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        background-image: url('monsite_Images/sky_minimalist.jpg');
        border-top: 3px solid rgba(0, 0, 0, 0.874);
    }

    .reseaux_sociaux img{
        display: flex;
        width: 80px;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin: 50px;
      }
